{{yield}}
<ul class="tm-flex-container wrap">
  <li class="tm-flex-item">
    <div class="image-wrapper">
      <img src="http://placehold.it/300x400">
    </div>
    <div class="text-wrapper">
      <h3>The First Random Title</h3>
      <p>Here's some more sample text to describe a fake content card.  Why is the spacing acting so strange? What the fucks up yall. Here's some more sample text to describe a fake content card.  Why is the spacing acting so strange? What the fucks up yall</p>
      <ul class="footer-buttons">
        <li><button class="btn btn-primary">Button 1</button></li>
        <li><button class="btn btn-primary">Button 2</button></li>
      </ul>
    </div>
  </li>
</ul>
