<div class="large-item">
  <ul>
    <li><h1>{{model.title}}</h1></li>
    <li><h3>{{model.body}}</h3></li>
    <li><button class="btn rb-btn-info" {{action 'edit' todo}}>Add Edit Here</button><button class="btn rb-btn-info" {{action 'delete' todo}}>delete</button></li>
  </ul>
</div>
