<div class="row">
  <div class="col-md-2">
    <div class="btn-group btn-block" role="group">
      <button type="button" class="btn btn-block btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{model.email}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" {{action 'selectUserEmail' on='change'}}>
        {{#each model.emails as |email|}}
          <li><a href="#">{{email}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="col-md-2">
    {{#link-to 's.emails.create' class="btn btn-primary btn-block"}}Send Email{{/link-to}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        {{#link-to 's.emails.hopper'}}<button type="button" class="btn btn-default">Hopper</button>{{/link-to}}
      </div>
      <div class="btn-group" role="group">
        {{#link-to 's.emails.index'}}<button type="button" class="btn btn-default">Main</button>{{/link-to}}
      </div>
      <div class="btn-group" role="group">
        {{#link-to 's.emails.campaigns'}}<button type="button" class="btn btn-default">Campaigns</button>{{/link-to}}
      </div>
    </div>
    <div class="">

      {{outlet}}

    </div>
  </div>
</div>
