<div class="row">
  <div class="col-md-2">
    <div class="btn-group btn-block" role="group">
      <button type="button" class="btn btn-block btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{model.email}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" {{action 'selectUserEmail' on='change'}}>
        {{#each model.emails as |email|}}
          <li><a href="#">{{email}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="col-md-2">
    {{#link-to 's.emails.create' class="btn btn-primary btn-block"}}Send Email{{/link-to}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        {{#link-to 's.emails.hopper'}}<button type="button" class="btn btn-default">Hopper</button>{{/link-to}}
      </div>
      <div class="btn-group" role="group">
        {{#link-to 's.emails.index'}}<button type="button" class="btn btn-default">Main</button>{{/link-to}}
      </div>
      <div class="btn-group" role="group">
        {{#link-to 's.emails.campaigns'}}<button type="button" class="btn btn-default">Campaigns</button>{{/link-to}}
      </div>
    </div>
    <div class="">
      <div class="col-md-1">
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">14</span>
            {{#link-to 's.emails.index'}}Inbox{{/link-to}}
          </li>
          <li class="list-group-item">
            <span class="badge">1</span>
            {{#link-to 's.emails.drafts'}}Drafts{{/link-to}}
          </li>
          <li class="list-group-item">
            <span class="badge">9</span>
            {{#link-to 's.emails.sent'}}Sent{{/link-to}}
          </li>
          <li class="list-group-item">
            <span class="badge">3</span>
            {{#link-to 's.emails.spam'}}Spam{{/link-to}}
          </li>
        </ul>
      </div>
      <div class="col-md-10 col-md-offset-1">
      {{outlet}}
      </div>
    </div>
  </div>
</div>
