  <ul class="nav nav-tabs nav-justified">
    <li role="presentation">{{#link-to 's.mktg.index'}}Home{{/link-to}}</li>
    <li role="presentation">{{#link-to 's.mktg.content'}}Content{{/link-to}}</li>
    <li role="presentation">{{#link-to 's.mktg.seo'}}SEO{{/link-to}}</li>
    <li role="presentation">{{#link-to 's.mktg.branding'}}Branding{{/link-to}}</li>
    <li role="presentation">{{#link-to 's.mktg.analytics'}}Analytics{{/link-to}}</li>
  </ul>


{{liquid-outlet}}
