<div class="row">
  <div class="col-md-3">
    <div class="panel-heading"><h3>Next Steps</h3></div>
    <div class="list-group">
      {{#link-to 's.mktg.seo' class='list-group-item'}}
        <h4 class="list-group-item-heading">Add Keyword To Title</h4>
        <p class="list-group-item-text">More Text Goes Below For Support</p>
      {{/link-to}}
      {{#link-to 's.mktg.seo'class='list-group-item'}}
        <h4 class="list-group-item-heading">Increase Word Count from 243 to 750</h4>
        <p class="list-group-item-text">More Text Goes Below For Support</p>
      {{/link-to}}
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Add Outbound Link to Page</h4>
        <p class="list-group-item-text">More Text Goes Below For Support</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Embed Video on Page</h4>
        <p class="list-group-item-text">More Text Goes Below For Support</p>
      </a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel-heading"><h3>Campaigns</h3></div>
    <div class="list-group">
      {{#link-to 's.mktg.seo' class='list-group-item'}}
        <h4 class="list-group-item-heading">Add Keyword To Title</h4>
        <p class="list-group-item-text">More Text Goes Below For Support</p>
      {{/link-to}}
      {{#link-to 's.mktg.seo'class='list-group-item'}}
        <h4 class="list-group-item-heading">Increase Word Count from 243 to 750</h4>
        <p class="list-group-item-text">More Text Goes Below For Support</p>
      {{/link-to}}
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Add Outbound Link to Page</h4>
        <p class="list-group-item-text">More Text Goes Below For Support</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Embed Video on Page</h4>
        <p class="list-group-item-text">More Text Goes Below For Support</p>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel-heading"><h3>Data Visualization?</h3></div>
    <div class="list-group">
      {{#link-to 's.mktg.seo' class='list-group-item'}}
        <h4 class="list-group-item-heading">Add Keyword To Title</h4>
        <p class="list-group-item-text">More Text Goes Below For Support</p>
      {{/link-to}}
      {{#link-to 's.mktg.seo'class='list-group-item'}}
        <h4 class="list-group-item-heading">Increase Word Count from 243 to 750</h4>
        <p class="list-group-item-text">More Text Goes Below For Support</p>
      {{/link-to}}
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Add Outbound Link to Page</h4>
        <p class="list-group-item-text">More Text Goes Below For Support</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Embed Video on Page</h4>
        <p class="list-group-item-text">More Text Goes Below For Support</p>
      </a>
    </div>
  </div>
</div>
