<div class="flex-container">
    {{#each model as |pitch|}}
      {{#link-to 's.bullpen.pitch' pitch.id class="hopper-email-item"}}
        <h1>{{pitch.title}}</h1>
      {{/link-to}}
    {{/each}}
</div>
