
<div class="row">
  <div class="col-md-3">
    <div class="list-group">
      {{#link-to 's.vendors.create' class="list-group-item"}}Create Vendors{{/link-to}}
      {{#link-to 's.vendors.index' class="list-group-item"}}View Vendors{{/link-to}}
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item disabled">Todays Events</a>
      <a href="#" class="list-group-item"><tr>8:00</tr>Event #1  </a>
      <a href="#" class="list-group-item"><tr>9:00</tr>Event #2 </a>
      <a href="#" class="list-group-item"><tr>10:00</tr>Event #3  </a>
      <a href="#" class="list-group-item disabled"><tr>11:00</tr> </a>
      <a href="#" class="list-group-item"><tr>12:00</tr>Event #4 </a>
      <a href="#" class="list-group-item disabled"><tr>1:00</tr> </a>
      <a href="#" class="list-group-item disabled"><tr>2:00</tr> </a>
      <a href="#" class="list-group-item disabled"><tr>3:00</tr> </a>
      <a href="#" class="list-group-item disabled"><tr>4:00</tr> </a>
      <a href="#" class="list-group-item disabled"><tr>5:00</tr> </a>
    </div>
  </div>
  <div class="col-md-9">
    {{liquid-outlet}}
  </div>
</div>
