
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/242x200" alt="...">
      <div class="caption">
				<h4>Awesome Product</h4>
				<p>The thing about this awesome product is that its awesome</p>
        <p>
          <button class="btn btn-primary">View</button>
					<button class="btn rb-btn-info">delete</button>
				</p>
			</div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/242x200" alt="...">
      <div class="caption">
        <h4>Awesome Product</h4>
        <p>The thing about this awesome product is that its awesome</p>
        <p>
          <button class="btn btn-primary">View</button>
          <button class="btn rb-btn-info">delete</button>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/242x200" alt="...">
      <div class="caption">
        <h4>Awesome Product</h4>
        <p>The thing about this awesome product is that its awesome</p>
        <p>
          <button class="btn btn-primary">View</button>
          <button class="btn rb-btn-info">delete</button>
        </p>
      </div>
    </div>
  </div>
</div>
{{liquid-outlet}}
