<div class="col-md-1">
  <ul class="list-group">
    <li class="list-group-item">
      <span class="badge">14</span>
      {{#link-to 's.emails.index'}}Inbox{{/link-to}}
    </li>
    <li class="list-group-item">
      <span class="badge">1</span>
      {{#link-to 's.emails.drafts'}}Drafts{{/link-to}}
    </li>
    <li class="list-group-item">
      <span class="badge">9</span>
      {{#link-to 's.emails.sent'}}Sent{{/link-to}}
    </li>
    <li class="list-group-item">
      <span class="badge">3</span>
      {{#link-to 's.emails.spam'}}Spam{{/link-to}}
    </li>
  </ul>
</div>
<div class="col-md-10 col-md-offset-1">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>From</th>
        <th>Subject</th>
        <th>To</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |email|}}
      <tr>
        <td>{{email.from}}</td>
        <td>{{#link-to 's.emails.email' email}}{{email.title}}{{/link-to}}</td>
        <td>{{email.to}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
