

<div class="section-1">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="index jumbotron">
          <h1>Dashboard</h1>
          <p> Welcome, </p>
          <p>{{link-to 'CMS Login' 'login' class="btn btn-primary btn-lg"}}</p>
        </div>
      </div>
    </div>
</div>
<div class="section-2">

</div>
<div class="section-3">

</div>
<div class="section-4">

</div>
<div class="section-5">

</div>
{{yield}}
