{{yield}}
<div class="col-md-5">
  <h1>Browse Our Catalogue</h1>
</div>
<div class="col-md-7">
  <ul>
    <li>Link 1</li>
    <li>Link 2</li>
    <li>Link 3</li>
    <li>Link 4</li>
  </ul>
</div>
<div class="col-md-12">
    <hr>
    <ul class="wf-flex-container wrap">
      <li class="wf-flex-item">+</li>
      <li class="wf-flex-item">2</li>
      <li class="wf-flex-item">3</li>
      <li class="wf-flex-item">4</li>
      <li class="wf-flex-item">5</li>
      <li class="wf-flex-item">6</li>
      <li class="wf-flex-item">7</li>
      <li class="wf-flex-item">8</li>
      <li class="wf-flex-item">9</li>
      <li class="wf-flex-item">10</li>

    </ul>
  <hr>
</div>
<!--<ul class="flex-container center">
  <li class="flex-item"><a href="">Like</a></li>
  <li class="flex-item"><a href="">Comment</a></li>
  <li class="flex-item"><a href="">Share</a></li>
</ul>

-->
