<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills">
      <li>{{#link-to 's.posts.create'}}Create Post{{/link-to}}</li>
      <li>{{#link-to 's.posts.index'}}View Posts{{/link-to}}</li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="active"><a href="#">Tags <span class="badge">7</span></a></li>
      <li role="presentation"><a href="#">Go<span class="badge">4</span></a></li>
      <li role="presentation"><a href="#">Here <span class="badge">3</span></a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      {{liquid-outlet}}
  </div>
</div>

<!-- 
<div class="row">
  <div class="col-md-3">
    <div class="list-group">

    </div>
    <div class="list-group">
      <a href="#" class="list-group-item disabled">Tags</a>
      <a href="#" class="list-group-item">Tag #1</a>
      <a href="#" class="list-group-item">Tag #2</a>
      <a href="#" class="list-group-item">Tag #3</a>
    </div>
  </div>
  <div class="col-md-9">
    {{liquid-outlet}}
  </div>
</div> -->
