
<header class="cs-header">
  <span class="entypo-dot-3 right"></span>
  <div class="social">
    <span class="entypo-facebook"></span>
    <span class="entypo-twitter"></span>
    <span class="entypo-gplus"></span>
    <span class="entypo-tumblr"></span>
  </div>


  <div class="avatar">
    <img src="http://s.cdpn.io/31787/sheen2.jpeg" alt="" />
    <a href="https://twitter.com/charliesheen"> <h4>@charliesheen</h4></a>
  </div>
  <div class="avatar-frame">

  </div>


    <div class="icon-strip">
   <span class="entypo-user-add"></span>
   <span class="entypo-thumbs-up"></span>
   <span class="entypo-picture"></span>

   <span class="entypo-export right"></span>

 </div>
</header>
{{yield}}
<section class="cs-section">
			<div class="twitter-info">
				<ul>
					<li>
						1,608
						<span>Tweets</span>
					</li>
					<li>
						112
						<span>Following</span>
					</li>
					<li>
						9,794,781
						<span>Followers</span>
					</li>
				</ul>
			</div>
</section>
