<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked off-left">
      <li role="presentation" class="disabled"><h3>Settings</h3></li>
      <li role="presentation">{{#link-to 's.settings.index'}}<h4>General</h4>{{/link-to}}</li>
      <!-- <li role="presentation">{{#link-to 's.settings.bullpen'}}<h4>Bullpen</h4>{{/link-to}}</li>
      <li role="presentation">{{#link-to 's.settings.campaigns'}}<h4>Campaigns</h4>{{/link-to}}</li>
      <li role="presentation">{{#link-to 's.settings.crm'}}<h4>CRM</h4>{{/link-to}}</li>
      <li role="presentation">{{#link-to 's.settings.dashboard'}}<h4>Dashboard</h4>{{/link-to}}</li>
      <li role="presentation">{{#link-to 's.settings.emails'}}<h4>Emails</h4>{{/link-to}}</li>
      <li role="presentation">{{#link-to 's.settings.events'}}<h4>Events</h4>{{/link-to}}</li>
      <li role="presentation">{{#link-to 's.settings.forecast'}}<h4>Forecast</h4>{{/link-to}}</li>
      <li role="presentation">{{#link-to 's.settings.mktg'}}<h4>Marketing</h4>{{/link-to}}</li>
      <li role="presentation">{{#link-to 's.settings.pages'}}<h4>Pages</h4>{{/link-to}}</li>
      <li role="presentation">{{#link-to 's.settings.posts'}}<h4>Posts</h4>{{/link-to}}</li>
      <li role="presentation">{{#link-to 's.settings.users'}}<h4>Users</h4>{{/link-to}}</li> -->
    </ul>
  </div>
  <div class="col-md-9">
    {{liquid-outlet}}
  </div>
</div>
