<div class="flex-container">
    <div class="hopper-email-item">
      <h1>Unpublished Email</h1>
    </div>
    <div class="hopper-email-item">
      <h1>Unpublished Email</h1>
    </div>
    <div class="hopper-email-item">
      <h1>Unpublished Email</h1>
    </div>
    <div class="hopper-email-item">
      <h1>Unpublished Email</h1>
    </div>
    <div class="hopper-email-item">
      <h1>Unpublished Email</h1>
    </div>
    <div class="hopper-email-item">
      <h1>Unpublished Email</h1>
    </div>
    <div class="hopper-email-item">
      <h1>Unpublished Email</h1>
    </div>
</div>
