<div class="blog-post">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="blog-intro">
      {{yield}}
       <h1>Hello Blog Post</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste dolorum quia, sint, omnis nemo ducimus ratione ab, ea illo ipsam alias voluptas magnam veniam eligendi quod expedita. Ducimus, quas, ea!</p>
    </div>
    <hr>
    <div class="blog-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ipsum, delectus illum dolorum obcaecati doloremque voluptate. Delectus maxime numquam praesentium asperiores id reprehenderit, ea animi, repudiandae illum, inventore, voluptate ut.</p><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate eos dolor facere provident necessitatibus enim veritatis harum, modi consectetur, dolorem asperiores explicabo reprehenderit voluptatibus quaerat, sint ad ipsa, non vitae!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ipsum, delectus illum dolorum obcaecati doloremque voluptate. Delectus maxime numquam praesentium asperiores id reprehenderit, ea animi, repudiandae illum, inventore, voluptate ut.</p><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate eos dolor facere provident necessitatibus enim veritatis harum, modi consectetur, dolorem asperiores explicabo reprehenderit voluptatibus quaerat, sint ad ipsa, non vitae!</p>
    </div>
    <hr>
    <div class="blog-footer">
      <ul class="flex-container center">
        <li class="flex-item"><a href="">Like</a></li>
        <li class="flex-item"><a href="">Comment</a></li>
        <li class="flex-item"><a href="">Share</a></li>
      </ul>
    </div>
  </div>
</div>
