<div class="hex-flex-item effect1">
  <div class="flex-top"></div>
  <div class="flex-body">
    <div class="header-subhead">
      <h3>Some Type of Title</h3>
      <p>Body Text Goes here, but not too much</p>
    </div>
    <ul>
      <li><button class="btn-clear">Down</button></li>
      &nbsp
      <li><button class="btn-clear">Up</button></li>
    </ul>

  </div>
  <div class="flex-bottom"></div>
</div>
