<div class="flex-container">
 {{#each model as |post|}}
   {{#hex-item title=title}}
   {{#link-to 's.posts.edit' post classNames="btn btn-clear rb-btn-info"}}Visit{{/link-to}}
   {{/hex-item}}
 {{/each}}
 </div>



<!-- {{#link-to 's.posts.post' post.id}}{{post.title}}{{/link-to}}
{{post.description}}
{{#link-to 's.posts.edit' post classNames="btn rb-btn-info"}}edit{{/link-to}}&nbsp;
<button class="btn rb-btn-info" {{action 'delete' post}}>delete</button>
 -->
